<%= form_for [topic, post, comment], htm: { class: 'form-horizontal' } do |f| %>
  <% if comment.errors.any? %>
    <div class="alert alert-block">
      <h4>There are <%= pluralize(comment.errors.count, "error") %> errors.</h4>
      <ul>
        <% comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= control_group_tag(comment.errors[:body]) do %>
    <div class="controls">
      <%= f.text_area :body, rows: 8 %>
    </div>
  <% end %>
  <div class="control-group">
    <div class="controls">
      <%= f.submit "Add Comment", class: 'btn' %>
    </div>
  </div>
<% end %>