<h1><%= markdown @topic.name %></h1>

<% if can? :update, @topic %>
  <%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-primary btn-mini' %>
<% end %>

<div class="row">
  <div class="span8">
    <p class="lead"><%= markdown @topic.description %></p>
    <% @posts.each do |post| %>
      <div class="media">
        <div class="media-body">
          <%= image_tag(post.image.thumb.url) if post.image? %>
          <h4 class="media-heading">
          <%= link_to (markdown post.title), [@topic, post] %>
          </h4>
          <small>
            <%= image_tag(post.user.avatar.tiny.url) if post.user.avatar? %>
            submitted <%= time_ago_in_words(post.created_at) %> ago by 
            <%= post.user.name %><br/>
            <%= post.comments.count %> Comments
          </small>          
        </div>
      </div>
    <% end %>
    <%= will_paginate @posts %>
  </div>
  <div class="span4">
    <% if can? :create, Post %>
      <%= link_to "New Post", new_topic_post_path(@topic), class: 'btn btn-large btn-block' %>
    <% end %>
  </div>
</div>