<h1>All Posts</h1>

<% if can? :create, Post %>
  <%= link_to "New Post", new_post_path, class: 'btn btn-primary btn-mini' %>
<% end %>

<% @posts.each do |post| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to post.title, post %>
      </h4>
      <small>
        submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %><br/>
        <%= post.comments.count %> Comments
      </small>
    </div>
  </div>
<% end %>